#calculator input {
    font-size:36px;
}
#calculator input[type="button"] {
    
}
#calculator tr {
    text-align:center;
}
#spacer {
    visibility: hidden;
}
.inline-span {
    display: inline-block;
}